# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.sqlite3

# =========================
# Migrations
# =========================
alembic/versions/__pycache__/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test Cache
# =========================
.pytest_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/
